<mat-toolbar>
  <button mat-icon-button class="menu-button" aria-label="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Swim App</span>
  <span class="spacer"></span>

  <a mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </a>
  <span>Login</span>

  <a mat-icon-button routerLink="/register">
    <mat-icon>how_to_register</mat-icon>
  </a>
  <span>Register</span>
</mat-toolbar>

<mat-card appearance="raised">
  <mat-card-title class="home-card-1">
    <mat-card-content class="home-content">
      <h2>This will be content on the homepage</h2>
    </mat-card-content>
    <mat-card-content class="image">
      <img
        mat-card-lg-image
        src="https://en.reformsports.com/oxegrebi/2023/10/what-is-an-olymp-swimming-pool.jpg"
        alt=""
      />
    </mat-card-content>
  </mat-card-title>

  <mat-card-title>
    <mat-card-content>
      <p>Kenapa susah sekali menggunakan matcard?</p>
    </mat-card-content>
  </mat-card-title>

  <mat-card-title>
    <mat-card-content>
      <h3>
        Semua content harusnya terlihat seperti Grid! Kenapa ini tidak!!??
      </h3>
    </mat-card-content>
  </mat-card-title>
</mat-card>
